.ammo-info {
	display: flex;
	justify-content: space-between;
	background-color: #333;
	margin-right: 10px;
	text-align: left;
	width: 100%;
}

.ammo-info p {
	color: white;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin: auto;
}

.ammo-info img {
	height: 76px;
	width: 76px;
}

.name {
	display: flex;
	justify-content: center;
	width: 100%;
}
