.main {
	background-color: #3d3d3d;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30vw;
}

.main h2 {
	margin-left: 2%;
	margin-top: 10px;
	font-size: 36px;
}

.main ul {
	list-style: none;
	padding-left: 0;
	max-height: 400px;
	overflow: scroll;
}

.stations-list {
	width: 40%;
}

.stations-list li {
	border: 2px solid green;
	background-color: white;
	text-align: center;
	font-size: 24px;
	transition: all 0.3s ease-out;
}

.stations-list li:hover {
	padding: 5px 5px;
	margin: 5px 0;
}
