.traders {
	display: flex;
	justify-content: space-between;
}

.quest-details-main {
	margin-top: 20px;
	background-color: #011638;
	color: white;
	display: flex;
	justify-content: space-between;
}

.quest-details-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quest-details-info div {
	margin: 0 5px;
}

.reputations {
	display: flex;
	justify-content: space-between;
}
